{# TODO: consider using prose width/heights here, max-w-[65ch] #}
{# expects global "report" #}
{% macro figure(figure, class="min-h-112 min-w-80") %}
  <div
    hx-ext="response-targets"
    class="not-prose {{ class }} flex flex-1 items-stretch"
  >
    <figure
      class="plotly-container min-h-0 min-w-0 flex-1"
      hx-get="{{ url_for(figure, report_name=report).include_query_params(**kwargs) }}"
      hx-trigger="load"
      hx-swap="innerHTML"
      hx-target-error="find div"
    >
      <div class="flex h-full w-full items-center justify-center bg-stone-100">
        <p>loading...</p>
      </div>
    </figure>
  </div>
{% endmacro %}

{% macro row() %}
<div class="flex flex-wrap">
    {% for figure in varargs %}
        {{ figure }}
    {% endfor %}
</div>
{% endmacro %}
